<link href="~/css/menupage.css" rel="stylesheet" />
<h1>Categories</h1><br />
<div style="display: flex; flex-wrap:  wrap; ">
    <div class="ele" >
        <a asp-controller="Gujaratis" asp-action="Index"> 
            <img class="imgc" src="~/images/Gujarati.PNG" /><br /> 
            <h3>Gujarati Items</h3>
        </a> 
    </div>

    <div class="ele">
        <a asp-controller="Chinese" asp-action="Index">
            <img class="imgc" src="~/images/Chinese.PNG" /><br />
            <h3>Chinese Items</h3>
        </a>
    </div>

    <div class="ele">
        <a asp-controller="SouthIndians" asp-action="Index">
            <img class="imgc" src="~/images/SouthIndians.PNG" /><br />
            <h3>SouthIndian Items</h3>
        </a>
    </div>

    <div class="ele">
        <a asp-controller="Punjabis" asp-action="Index">
            <img class="imgc" src="~/images/Punjabi.PNG" /><br />
            <h3>Punjabi Items</h3>
        </a>
    </div>

    <div class="ele">
        <a asp-controller="ColdDrinks" asp-action="Index">
            <img class="imgc" height="150px" src="~/images/ColdDrinks.PNG" /><br />
            <h3>Cold-Drinks</h3>
        </a>
    </div>

    <div class="ele">
        <a asp-controller="FastFoods" asp-action="Index">
            <img class="imgc" src="~/images/FastFood.PNG" /><br />
            <h3>Fast Food</h3>
        </a>
    </div>

</div>