<h1>Payment</h1>
<br />
<br />
<form class="pay-form" asp-controller="Payment" asp-action="Success_Offline">
    <center><label><b>Pay  @ViewBag.TPOffline</b></label></center>
    <button type="submit" class="btn btn-primary btn-block">Cash on Delivery</button>
</form>